<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>表單</title>
</head>
<body>
    <form action="#" method="POST">
        帳號：
        <input type="text" name="user" placeholder="輸入帳號" autofocus>
        <br><br>
        密碼：
        <input type="password" name="pwd" placeholder="輸入密碼">
        <br><br><input type="submit" value="確定送出">
    </form>
</body>
</html>